[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cheavck
[access "refs/for/refs/*"]
	read = group user/cheavck
	push = group user/cheavck
	label-Code-Review = -2..+2 group user/cheavck
	label-Verified = -1..+1 group user/cheavck
	rebase = group user/cheavck
	removeReviewer = group user/cheavck
	submit = group user/cheavck
[access "refs/heads/*"]
	read = group user/cheavck
	create = group user/cheavck
	push = +force group user/cheavck
	pushMerge = group user/cheavck
[access "refs/tags/*"]
	push = +force group user/cheavck
	pushTag = group user/cheavck
	pushSignedTag = group user/cheavck
